@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    position: relative;
}

nav {
    background-color: white;
    gap: 5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
}

h3,
.form-outline,
.n-icone {
    margin-top: .8rem;
    margin-bottom: 0;
}

h3 {
    font-family: Square Peg;
    font-weight: bold;
    font-size: 2.5em;
}

.n-icone {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

a,
a:hover {
    color: black;
}

.nav-icone {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 50%;
}

.story-name {
    width: 25px;
    height: 25px;
}

.carousel {
    margin-top: 10rem;
}